<template>
    <div class="app">
        <h1>{{ title }}</h1>
        <div class="topnav">
            <a class="active" href="#home">JOIN</a>
    </div>
        <h2>{{"This is where the home page will be"}}</h2>
    </div>
</template>

<script>
 
export default {
    name: "app",
    data() {
        return { 
            title: ''
            }
        },
        mounted(){
            fetch('http://localhost:8085')
            .then(response => {
                return response.text();
            })
        .then(data => {
            this.title = data;
        });
    }
};
</script>
    <style>
    .app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing:antialiased;
        -moz-osx-font-smoothing:grayscale;
        text-align: center;
        color: #0e6b0e;
        margin-top: 60px;
        font-size: 30px;
    }
    .topnav {
  background-color: #333;
  overflow: hidden;
    }
    .topnav a {
  float: center;
  color: #25801c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
    }
    .topnav a:hover {
  background-color: #ddd;
  color: black;
    }
    </style>
